:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(219, 84, 84, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  position: relative;
  margin: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.main_menu {
  position: absolute;
  left: 2rem;
  top: 4rem;
}

.main_menu ul {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  list-style-type: none;
  background-color: #6c6e90;
  padding-left: 0;
}

.main_menu ul .link {
  margin-left: 0.5rem;
}

.menu_link {
  border: 2px solid crimson;
  background-color: rgb(228, 207, 207);
  color: #1a1a1a;
}


.company_icon {
  display: flex;
  justify-self: center;
}

.company_icon_image img {
  width: 5rem;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.headstrip {
  position: relative;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 4rem;
  background-image: url(src/assets/blue-background.jpg);
  display: flex;
  justify-content: space-between;
}

.headstrip .headstrip_subimage {
  height: 100%;
}

.headstrip .left_subimage_container {
  position: relative;
  width: 14%;
  height: 100%;
  background: inherit;
  overflow: visible;

}

.headstrip .left_subimage_container .headstrip_subimage.left_subimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}

.headstrip .left_subimage_container::after {
  content: '';
  position: absolute;
  top: -20%;
  right: -8%;
  width: 20%;
  /* Adjust width for the blurry side */
  height: 160%;
  background: inherit;
  /* Copy the background from the container */
  filter: blur(8px);
}


.headstrip .middle_subimage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.headstrip .middle_subimage img {
  height: 100%;
  width: auto;
}

.headstrip .middle_subimage p {
  font-weight: 700;
}

.headstrip .right_subimage_container {
  position: relative;
  width: 14%;
  height: 100%;
  background: inherit;
  overflow: visible;
}

.headstrip .right_subimage_container .headstrip_subimage.right_subimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}

.headstrip .right_subimage_container::after {
  content: '';
  position: absolute;
  top: -20%;
  left: -8%;
  width: 20%;
  /* Adjust width for the blurry side */
  height: 160%;
  background: inherit;
  /* Copy the background from the container */
  filter: blur(8px);
}

.buy_bestsellers {
  height: 70%;
  border-radius: 5rem;
  align-self: center;
}